<!DOCTYPE html>
<html>
\
<body>
 
 <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>

  <header id="home"><!-- HEADER -->
    <!-- Carrusel -->
    <!-- Primer Imagen -->
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a <span>Prestamos</span></h1>
            <p class="animated fadeInRightBig">Gestione su prestamo online</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Click Aqu&iacute</a>
          </div>
        </div>
    <!-- Segunda Imagen -->
        <div class="item" style="background-image: url(https://credify.es/b/wp-content/uploads/2017/08/Programa-de-fidelizaci%C3%B3n-de-los-pr%C3%A9stamos-en-Creditocajero.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Solicita tu <span>Prestamo ahora!</span></h1>
            <p class="animated fadeInRightBig">Prestamos a un click de distancia</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Click Aqu&iacute</a>
          </div>
        </div>
    <!-- Tercer Imagen -->
        <div class="item" style="background-image: url(images/slider/3.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a <span>Prestamos</span></h1>
            <p class="animated fadeInRightBig">Prestamos a un click de distancia</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Click Aqu&iacute</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
          </a>                    
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Inicio</a></li>
            <li class="scroll"><a href="#services">Servicios</a></li> 
            <li class="scroll"><a href="#about-us">Acerca de nosotros</a></li>                     
            <li class="scroll"><a href="#team">Equipo</a></li>
            <li class="scroll"><a href="#pricing">Prestamos</a></li>
            <li class="scroll"><a href="#home">Login</a></li>
            <li class="scroll"><a href="#contact">Contacto</a></li>  

          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
 </body>
</html>