<%= form_with(model: rubyon_rail, local: true) do |form| %>
  <% if rubyon_rail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rubyon_rail.errors.count, "error") %> prohibited this rubyon_rail from being saved:</h2>

      <ul>
      <% rubyon_rail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
